github "cely-tools/Cely" ~> 2.1
github "thii/FontAwesome.swift"
github "Moya/Moya" ~> 14.0
github "thoughtbot/Argo"
github "thoughtbot/Curry"
github "SwifterSwift/SwifterSwift"
github "SwiftKit/Cuckoo"
github "appsquickly/Typhoon"
github "ReactiveX/RxSwift"
