github "kishikawakatsumi/KeychainAccess"
github "thii/FontAwesome.swift"
github "Moya/Moya" ~> 14.0
github "thoughtbot/Argo"
github "thoughtbot/Curry"
github "SwifterSwift/SwifterSwift"
github "appsquickly/Typhoon"
#github "ReactiveX/RxSwift"
